<div class='leader'>
  <div id="leader-photo"> 
    <%= image_tag(leader.photoUrl) %>
  </div>
  <div id="leader-id">
    <ul>
      <li><%= leader.name %></li>
      <li><%= leader.office %></li>
    </ul>
  </div>
</div>
