<div class='leader'>
  <div class="leader-photo">
    <%= image_tag(leader.photoUrl) %>
  </div>

  <div class="overlay">
    <div class="leader-stats">
      <ul>
        <li><%= leader.name %></li>
        <li><%= leader.office %></li>
      </ul>
    </div>
  </div>
</div>
