<ul>
  <li id="leader-photo">
    <%= image_tag(leader.photoUrl) %>
  </li>
  <li id="leader-id">
    <table>
      <th>
        <td><%= leader.name %></td>
        <td><%= leader.office %></td>
      </th>
    </table>
  </li>
</ul>
