<div class='leader'>
  <div class="leader-photo">
    <%= image_tag(leader.photoUrl) %>

    <div class="leader-name">
      <%= leader.name %>
    </div>
  </div>
  <div class="leader-id">
    <ul>
      <li><%= leader.office %></li>
    </ul>
  </div>
</div>
