<div class="content">
    <p id="officials-district">Find your elected officials.</p>

    <%= form_for VoterDistrict.new, url: leaders_path do |f| %>
      <%= f.text_field :address, placeholder: "ENTER   ADDRESS" %>
      <%= f.submit "REPS" %>
    <% end %>
</div>
