<div class="content">
    <h2>Find your elected officials.</h2>

    <%= form_for VoterDistrict.new, url: leaders_path do |f| %>
      <%= f.text_field :address, placeholder: "ENTER   ADDRESS" %>
      <%= f.submit "REPS" %>
    <% end %>
</div>
