.content {
  margin: 0 auto;
  width: 600px;
  letter-spacing: 0.17em;
  font: 300 20px Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-variant-ligatures: no-common-ligatures;
  margin-top: 50px;
  margin-bottom: 40px;
  text-indent: 0px;
  color: gray;
  text-align: center;

  input {
    background-color: #e3e3e3;
    background-color: WhiteSmoke;
    height: 32px;
    border: 2px solid #98a3a6;
    border: 2px solid darkgray;
    border-radius: 15px;
    font: 20px "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: gray;
  }

  input[type="text"] {
    margin-top: 20px;
    text-align: center;
    background-color: #e3e3e3;
    width: 200px;
    height: 27px;
    border: 2px solid #98a3a6;
    border: 2px solid darkgray;
    border-radius: 15px;
  }

  input#voter_district_address {
    font: 20px "Source Sans Pro", Helvetica, Arial, sans-serif;
  }
}

/* Footer specifc styles */
.content {
  min-height: 100%;
  margin-bottom: -50px;
}

.content:after {
  content: "";
  display: block;
}
