.footer {
  position: absolute;
  bottom: 0;
  margin-left: 120px;

  p {
    font: 14px "Helvetica Neue", sans-serif;
    font-weight: 200;
    color: DimGray;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
}


