.leader {
    border: 2px solid gray;
    overflow: hidden;
    padding-right: 330px;
    margin-bottom: -20px;
    
    .leader > div {
    }
    
    #leader-photo {
        float: left;
    }

    #leader-id {
        float: right;
        vertical-align:top;
        margin-right: -330px;
        width: 300px;
        
        li {
            list-style-type: none;
        }
    }
    
    #leader-photo, #leader-id {
        padding-bottom: 99999px;
        margin-bottom: -99999px;
    }
    
    img {
        max-width: 150px;
        max-height: 200px;
        z-index: -1;
        display: block;
    }
}