/* START_HIGHLIGHT */
body {
    background-color: white;
    margin: 0;
}

.main {
    border: 0px solid pink;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0px;
    width: 1050px;
}

.header {
    background-image: linear-gradient(AliceBlue, LightBlue);
    -moz-box-shadow: inset 0 0 30px 30px white;
    -webkit-box-shadow: inset 0 0 30px 30px white;
    box-shadow: inset 0 -40px 30px 30px white;
    
    .banner {
        height: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .menu_bar {
        letter-spacing: 0.8px;
        font-weight: 100;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-top: 40px;
        padding: 0;
        list-style-type: none;
        display: table;
        table-layout: fixed;
        width: inherit;

        ul {
            padding-left: 0px;
        }
        
        li {
            padding-left: 50px;
            padding-right: 50px;
            display: table-cell;
            width: 100%;
        }

        a {
            color: DarkGray;
            text-decoration: none;
        }

        a:hover {
            color: LightGray;
        }
    }
}

.content {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0px;
    display: table;
    width: 500px;

    .statement > * {
        /* @import url(http://fonts.googleapis.com/css?family=Droid+Sans); */
        font-family: "Source Open Sans", Helvetica, Arial, sans-serif;
        margin-top: 20px;
        margin-bottom: 40px;
        text-indent: 0px;
        font-weight: 300;
        color: gray;
        margin-left: auto;
        margin-right: auto;
        
        @media screen and (max-device-width: 480px) {
            color: white;
            font-weight: 400
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            color: white;
            font-weight: 400
        }

        letter-spacing: .5px;
        width: 700px;
    }

    .text {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        border-left: 0px solid silver;
        border-right: 0px solid silver;

        p {
            text-indent: 0px;
            font: 20px "Helvetica Neue", sans-serif;
            font-weight: 200;
            letter-spacing: 1px;
            color: gray;

            @media screen and (max-device-width: 480px) {
                color: white;
                font-weight: 400
            }

            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                color: white;
                font-weight: 400
            }

            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.footer {
    margin-top: 30px;
    margin-left: 120px;

    p {
        font: 14px "Helvetica Neue", sans-serif;
        font-weight: 200;
        color: DimGray;

        @media screen and (max-device-width: 480px) {
            color: white;
            font-weight: 400
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            color: white;
            font-weight: 400
        }

        letter-spacing: 1px;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* END_HIGHLIGHT */


/* .notice { */
/*     margin-top: 145px; */
/*     text-align: center; */
/*     font-size: 21px; */
/*     font-family: "Open Sans"; */
/*     font-weight: 100; */
/*     color: #dee4d8; */
/*     color: brown; */
/*     letter-spacing: 1px; */
/*     padding-left: 20px; */
/*     padding-right: 20px; */
/*     margin-left: 250px; */
/*     width: 500px; */
/*     border: 2px solid DarkGoldenRod; */
/*     border-radius: 20px; */

/*     a[href^="mailto"] { */
/*         color: DarkGoldenRod; */
/*     } */
/* } */

