/* START_HIGHLIGHT */
body {
    background-color: white;
}

.main {
    border: 2px solid pink;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0px;
    width: 1050px;
}

.banner {
    height: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

/* .notice { */
/*     margin-top: 145px; */
/*     text-align: center; */
/*     font-size: 21px; */
/*     font-family: "Open Sans"; */
/*     font-weight: 100; */
/*     color: #dee4d8; */
/*     color: brown; */
/*     letter-spacing: 1px; */
/*     padding-left: 20px; */
/*     padding-right: 20px; */
/*     margin-left: 250px; */
/*     width: 500px; */
/*     border: 2px solid DarkGoldenRod; */
/*     border-radius: 20px; */

/*     a[href^="mailto"] { */
/*         color: DarkGoldenRod; */
/*     } */
/* } */

.menu_bar {
    margin-top: 121px;
    pading: 0;
    border: 2px solid Aqua;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    width: inherit;
    
    li {
        display: table-cell;
        width: 100%;
    }

    a:hover {
        color: ivory;
    }
}

.content {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 610px;
    margin-top: 0px;

    img {
        margin-top: 50px;
        margin-left: 0px;
        border: 3px solid DarkRed;
        border-radius: 20px;
        z-index: -1;
    }

    .statement > * {
        @import url(http://fonts.googleapis.com/css?family=Droid+Sans);
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
        margin-top: 20px;
        margin-bottom: 40px;
        text-indent: 0px;
        font: 20px "Open Sans", sans-serif;
        font: 20px "Droid Sans", "Helvetica Neue", sans-serif;
        font: 20px "Source Sans Pro", sans-serif;
        font-weight: 300;
        color: gray;

        @media screen and (max-device-width: 480px) {
            color: white;
            //font-weight: 400
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            color: white;
            //font-weight: 400
        }

        letter-spacing: .5px;
        width: 700px;
    }

    .text {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        border-left: 0px solid silver;
        border-right: 0px solid silver;

        p {
            text-indent: 0px;
            font: 20px "Helvetica Neue", sans-serif;
            font-weight: 200;
            letter-spacing: 1px;
            color: gray;

            @media screen and (max-device-width: 480px) {
                color: white;
                font-weight: 400
            }

            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                color: white;
                font-weight: 400
            }

            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.footer {
    margin-top: 30px;
    margin-left: 120px;

    p {
        font: 14px "Helvetica Neue", sans-serif;
        font-weight: 200;
        color: DimGray;

        @media screen and (max-device-width: 480px) {
            color: white;
            font-weight: 400
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            color: white;
            font-weight: 400
        }

        letter-spacing: 1px;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* END_HIGHLIGHT */