<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg x="0" y="0" height="260px" width="100%" viewBox="0 0 1800 260" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <g id="radial" opacity="1">
    <defs>
      <radialGradient id="MyGradient" gradientUnits="userSpaceOnUse" cx="50%"
      cy="50%" r="530" fx="50%" fy="50%">
        <stop offset="0%" stop-color="#104e8b"/>
        <stop offset="50%" stop-color="#104e8b"/>
        <stop offset="100%" stop-color="#104e8b" stop-opacity="0.0"/>
      </radialGradient>
    </defs>

    <rect fill="url(#MyGradient)" width="100%" height="100%"/>
  </g>
</svg>
