<div class="banner"> <div class="header-photo">
  </div>

  <div class="title-graphics">
    <svg>
      <defs>
        <filter id="blur">
          <feGaussianBlur stdDeviation="1"/>
        </filter>
      </defs>

      <g id="poliwonk" stroke="black" stroke-width="1" stroke-opacity="0.3">
        <%= render "pw_paths" %>
      </g>
    </svg>
  </div>

  <div class="gradient">
    <svg height="240px">
      <radialGradient id="pw-black" fy="70%">
        <stop offset="0%" stop-color="black" stop-opacity="0.7"/>
        <stop offset="60%" stop-color="black" stop-opacity="0.5"/>
        <stop offset="100%" stop-color="black" stop-opacity="0.2"/>
      </radialGradient>

      <rect width="100%" height="260px" fill="url(#pw-black)"/>
    </svg>
  </div>
</div>

<!--div class="menu_bar">
  <ul>
    <li><#%= link_to image_tag("PW_forum.png", height: "40"), "/forum" %></li>
    <li><#%= link_to image_tag("PW_mission.png", height: "40"), "/forum#!/mission" %></
  </ul>
</div-->
