<div class="main">
  <div class="banner">
    <%= link_to image_tag("PW_logo.png", width:"100%"), "/" %>
  </div>

  <div class="menu_bar">
    <ul>
      <li><%= link_to image_tag("PW_forum.png", height: "40"), "/forum" %></li>
      <li><%= link_to image_tag("PW_mission.png", height: "40"), "/forum#!/mission" %></li>
    </ul>
  </div>
</div>
